.App {
  text-align: center;
  background-color: black;
  height: 100vh;
  width: 100%;
} 

@media (min-width: 320px) and (max-width: 720px) {
  .App {
    background-color: black;
    height: 100vh;
    width: 100%;
  } 
  
}